@using System.Collections.Specialized
@model UniversityManagement.Models.Department
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="headingStyle">
    <span class="top right"></span>
    <span class="top left"></span>
    <h2>Add Department</h2>
    <span class="bottom right"></span>
    <span class="bottom left"></span>
</div>

<div class="login-form">
    <form id="DepartmentForm" method="POST" class="wow slideInUp"  data-wow-duration="2s" data-wow-offset="0">



        <div class="row form-group">
            <div class="col-md-4 text-right">
                @Html.LabelFor(a => a.Name)
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })

            </div>
        </div>

        <div class="row form-group">

            <div class="col-md-4 text-right">
                @Html.LabelFor(a => a.Name)
            </div>

            <div class="col-md-8">
                @Html.TextBoxFor(a => a.Code, new { @class = "form-control" })
            </div>

        </div>


        <div class="row">
            <div class="col-md-12 text-right">
                <input type="submit" value="Save" class="btn btn-info" />

            </div>

        </div>

    </form>
</div>



 @*@section scripts
{
    <script>
    $("#DepartmentForm").validate({
        rules: {
            Name: "required",
            Code: {
                required: true,
                maxlength: 7,
                minlength: 2
            }
        },
        messages: {
            Name: "Please enter department name",
            Code: {
                required: "Please enter department code",
                //maxlength: "Maxlength 7",
                //minlength: "Minlength 2"
            }
        }
    });
</script>
}*@
